.main_page_menu  {
    display: none;
    position: fixed;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    border-radius: 200%; /* 200px; */
    -moz-border-radius: 200%;
    -webkit-border-radius: 200%;
    cursor: pointer; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}

.main_page_menu a {
    height: 100%;
    display: inline-block;
    padding: 0px 10px;
}

.main_page_sub_menu {
    display: none;
    position: fixed;
    font-size: 1.5em;
    vertical-align: middle;
    text-align: center;
    line-height: 100%;
    padding: 5px 20px 10px 20px;
    color: #fff;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    cursor: pointer; 
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    background-color: rgba(255,255,255,.1);
    background: -webkit-linear-gradient(178deg, rgba(255,255,255,.03), rgba(255,255,255,0.25));
    background: -o-linear-gradient(178deg, rgba(255,255,255,.03), rgba(255,255,255,0.25));
    background: -moz-linear-gradient(178deg, rgba(255,255,255,.03), rgba(255,255,255,0.25));
    background: linear-gradient(178deg, rgba(255,255,255,.03), rgba(255,255,255,0.25)); 
}

.main_page_sub_menu:hover {
    background-color: rgba(255,255,255,.3);
    background: -webkit-linear-gradient(178deg, rgba(255,255,255,.05), rgba(255,255,255,0.5));
    background: -o-linear-gradient(178deg, rgba(255,255,255,.05), rgba(255,255,255,0.5));
    background: -moz-linear-gradient(178deg, rgba(255,255,255,.05), rgba(255,255,255,0.5));
    background: linear-gradient(178deg, rgba(255,255,255,.05), rgba(255,255,255,0.5)); 
}

.main_page_box {
    display: none;    
    position: fixed;
    padding: 20px;
    color: #fff;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background-color: rgba(255,255,255,.05);
    text-align: justify;
    line-height: 120%;
    font-size: 1.5em;
    overflow: auto;
}

.main_page_box p {
	line-height: 120%;
}

.main_page_box p + ul {
	margin-top: 0.5em;
} 

.main_page_box ul {
    padding-left: 0px;
}

.main_page_box li + li {
    margin-top: 0.7em;
}

.main_page_box li {
    list-style: none;
}

.main_page_box li:before {
    content: "+";
    font-weight: bold;
    margin-right: 10px;
}

#menu0 {
    background-color: rgba(255,40,40,.1);
    background: -webkit-radial-gradient(circle at 25% 30%,rgba(255,40,40,.6),rgba(255,40,40,0.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -o-radial-gradient(circle at 25% 30%,     rgba(255,40,40,.6),rgba(255,40,40,0.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -moz-radial-gradient(circle at 25% 30%,   rgba(255,40,40,.6),rgba(255,40,40,0.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: radial-gradient(circle at 25% 30%,        rgba(255,40,40,.6),rgba(255,40,40,0.05) 70%), url(Dust/238-88-13.png) no-repeat; 
}

#menu0:hover {
    background-color: rgba(255,40,40,.4);
    background: -webkit-radial-gradient(circle at 25% 30%,rgba(255,40,40,.8),rgba(255,40,40,0.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -o-radial-gradient(circle at 25% 30%,     rgba(255,40,40,.8),rgba(255,40,40,0.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -moz-radial-gradient(circle at 25% 30%,   rgba(255,40,40,.8),rgba(255,40,40,0.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: radial-gradient(circle at 25% 30%,        rgba(255,40,40,.8),rgba(255,40,40,0.1) 70%), url(Dust/238-88-13.png) no-repeat; 
}

#menu1 {
    background-color: rgba(40,40,255,.1);
    background: -webkit-radial-gradient(circle at 25% 30%,rgba(40,40,255,.7),rgba(40,40,255,0.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -o-radial-gradient(circle at 25% 30%,     rgba(40,40,255,.7),rgba(40,40,255,0.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -moz-radial-gradient(circle at 25% 30%,   rgba(40,40,255,.7),rgba(40,40,255,0.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: radial-gradient(circle at 25% 30%,        rgba(40,40,255,.7),rgba(40,40,255,0.05) 70%), url(Dust/238-88-13.png) no-repeat; 
}

#menu1:hover {
    background-color: rgba(40,40,255,.4);
    background: -webkit-radial-gradient(circle at 25% 30%,rgba(40,40,255,.9),rgba(40,40,255,0.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -o-radial-gradient(circle at 25% 30%,     rgba(40,40,255,.9),rgba(40,40,255,0.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -moz-radial-gradient(circle at 25% 30%,   rgba(40,40,255,.9),rgba(40,40,255,0.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: radial-gradient(circle at 25% 30%,        rgba(40,40,255,.9),rgba(40,40,255,0.1) 70%), url(Dust/238-88-13.png) no-repeat; 
}

#menu2 {
    background-color: rgba(255,255,40,.1);
    background: -webkit-radial-gradient(circle at 25% 30%,rgba(255,255,40,.6),rgba(255,255,40,0.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -o-radial-gradient(circle at 25% 30%,     rgba(255,255,40,.6),rgba(255,255,40,0.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -moz-radial-gradient(circle at 25% 30%,   rgba(255,255,40,.6),rgba(255,255,40,0.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: radial-gradient(circle at 25% 30%,        rgba(255,255,40,.6),rgba(255,255,40,0.05) 70%), url(Dust/238-88-13.png) no-repeat; 
}

#menu2:hover {
    background-color: rgba(255,255,40,.4);
    background: -webkit-radial-gradient(circle at 25% 30%,rgba(255,255,40,.9),rgba(255,255,40,0.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -o-radial-gradient(circle at 25% 30%,     rgba(255,255,40,.9),rgba(255,255,40,0.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -moz-radial-gradient(circle at 25% 30%,   rgba(255,255,40,.9),rgba(255,255,40,0.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: radial-gradient(circle at 25% 30%,        rgba(255,255,40,.9),rgba(255,255,40,0.1) 70%), url(Dust/238-88-13.png) no-repeat; 
}

#menu3 {
    background-color: rgba(40,255,40,.1);
    background: -webkit-radial-gradient(circle at 25% 30%,  rgba(40,255,40,.6),rgba(40,255,40,.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -o-radial-gradient(circle at 25% 30%,       rgba(40,255,40,.6),rgba(40,255,40,.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -moz-radial-gradient(circle at 25% 30%,     rgba(40,255,40,.6),rgba(40,255,40,.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: radial-gradient(circle at 25% 30%,          rgba(40,255,40,.6),rgba(40,255,40,.05) 70%), url(Dust/238-88-13.png) no-repeat; 
}

#menu3:hover {
    background-color: rgba(40,255,40,.4);
    background: -webkit-radial-gradient(circle at 25% 30%,  rgba(40,255,40,.9),rgba(40,255,40,.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -o-radial-gradient(circle at 25% 30%,       rgba(40,255,40,.9),rgba(40,255,40,.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -moz-radial-gradient(circle at 25% 30%,     rgba(40,255,40,.9),rgba(40,255,40,.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: radial-gradient(circle at 25% 30%,          rgba(40,255,40,.9),rgba(40,255,40,.1) 70%), url(Dust/238-88-13.png) no-repeat; 
}

#menu4 {
    background-color: rgba(255,40,255,.1);
    background: -webkit-radial-gradient(circle at 25% 30%,rgba(255,40,255,.4),rgba(255,40,255,0.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -o-radial-gradient(circle at 25% 30%,     rgba(255,40,255,.4),rgba(255,40,255,0.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -moz-radial-gradient(circle at 25% 30%,   rgba(255,40,255,.4),rgba(255,40,255,0.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: radial-gradient(circle at 25% 30%,        rgba(255,40,255,.4),rgba(255,40,255,0.05) 70%), url(Dust/238-88-13.png) no-repeat; 
}

#menu4:hover {
    background-color: rgba(255,40,255,.4);
    background: -webkit-radial-gradient(circle at 25% 30%,rgba(255,40,255,.6),rgba(255,40,255,0.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -o-radial-gradient(circle at 25% 30%,     rgba(255,40,255,.6),rgba(255,40,255,0.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -moz-radial-gradient(circle at 25% 30%,   rgba(255,40,255,.6),rgba(255,40,255,0.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: radial-gradient(circle at 25% 30%,        rgba(255,40,255,.6),rgba(255,40,255,0.1) 70%), url(Dust/238-88-13.png) no-repeat; 
}

#menu5 {
    background-color: rgba(40,255,255,.1);
    background: -webkit-radial-gradient(circle at 25% 30%,rgba(40,255,255,.4),rgba(40,255,255,0.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -o-radial-gradient(circle at 25% 30%,     rgba(40,255,255,.4),rgba(40,255,255,0.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -moz-radial-gradient(circle at 25% 30%,   rgba(40,255,255,.4),rgba(40,255,255,0.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: radial-gradient(circle at 25% 30%,        rgba(40,255,255,.4),rgba(40,255,255,0.05) 70%), url(Dust/238-88-13.png) no-repeat; 
}

#menu5:hover {
    background-color: rgba(40,255,255,.4);
    background: -webkit-radial-gradient(circle at 25% 30%,rgba(40,255,255,.6),rgba(40,255,255,0.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -o-radial-gradient(circle at 25% 30%,     rgba(40,255,255,.6),rgba(40,255,255,0.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -moz-radial-gradient(circle at 25% 30%,   rgba(40,255,255,.6),rgba(40,255,255,0.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: radial-gradient(circle at 25% 30%,        rgba(40,255,255,.6),rgba(40,255,255,0.1) 70%), url(Dust/238-88-13.png) no-repeat; 
}

#menu6 {
    background-color: rgba(255,167,40 ,.1);
    background: -webkit-radial-gradient(circle at 25% 30%,rgba(255,167,40 ,.4),rgba(255,167,40 ,0.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -o-radial-gradient(circle at 25% 30%,     rgba(255,167,40 ,.4),rgba(255,167,40 ,0.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -moz-radial-gradient(circle at 25% 30%,   rgba(255,167,40 ,.4),rgba(255,167,40 ,0.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: radial-gradient(circle at 25% 30%,        rgba(255,167,40 ,.4),rgba(255,167,40 ,0.05) 70%), url(Dust/238-88-13.png) no-repeat; 
}

#menu6:hover {
    background-color: rgba(255,167,40 ,.4);
    background: -webkit-radial-gradient(circle at 25% 30%,rgba(255,167,40 ,.6),rgba(255,167,40 ,0.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -o-radial-gradient(circle at 25% 30%,     rgba(255,167,40 ,.6),rgba(255,167,40 ,0.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -moz-radial-gradient(circle at 25% 30%,   rgba(255,167,40 ,.6),rgba(255,167,40 ,0.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: radial-gradient(circle at 25% 30%,        rgba(255,167,40 ,.6),rgba(255,167,40 ,0.1) 70%), url(Dust/238-88-13.png) no-repeat; 
}

#menu7 {
    background-color: rgba(40,255,127,.1);
    background: -webkit-radial-gradient(circle at 25% 30%,rgba(40,255,127,.4),rgba(40,255,127,0.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -o-radial-gradient(circle at 25% 30%,     rgba(40,255,127,.4),rgba(40,255,127,0.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -moz-radial-gradient(circle at 25% 30%,   rgba(40,255,127,.4),rgba(40,255,127,0.05) 70%), url(Dust/238-88-13.png) no-repeat;
    background: radial-gradient(circle at 25% 30%,        rgba(40,255,127,.4),rgba(40,255,127,0.05) 70%), url(Dust/238-88-13.png) no-repeat; 
}

#menu7:hover {
    background-color: rgba(40,255,127,.4);
    background: -webkit-radial-gradient(circle at 25% 30%,rgba(40,255,127,.6),rgba(40,255,127,0.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -o-radial-gradient(circle at 25% 30%,     rgba(40,255,127,.6),rgba(40,255,127,0.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: -moz-radial-gradient(circle at 25% 30%,   rgba(40,255,127,.6),rgba(40,255,127,0.1) 70%), url(Dust/238-88-13.png) no-repeat;
    background: radial-gradient(circle at 25% 30%,        rgba(40,255,127,.6),rgba(40,255,127,0.1) 70%), url(Dust/238-88-13.png) no-repeat; 
}

#box15li li {
	margin-top: 0.1em;
	list-style: circle;
    margin-left: 40px;
}        

#box15li li:before {
	content: none;
}        

#box21 li + li {
    margin-top: 0.1em;
}

#submenu24 {
    cursor: inherit; 
    -webkit-user-select: inherit;
    -khtml-user-select: inherit;
    -moz-user-select: inherit;
    -o-user-select: inherit;
    -ms-user-select: inherit;
    border-radius: 80px;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;    
    padding: 10px 30px;
}
